{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block hero-image-text %}
<div class="container-fluid hero-text">
    <p class = "hero-home-subheading text-center">
        Authorized Dealer and Phone Repairs
    </p>
    <p class="text-center padding-top padding-bottom">
        <img src="https://img.icons8.com/dusk/64/000000/shopping-cart.png">
        <img class="hero-icon" src="https://img.icons8.com/dusk/64/000000/iphone-x.png">
        <img class="hero-icon" src="https://img.icons8.com/dusk/64/000000/ipad.png">
        <img class="hero-icon hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/android-tablet.png">
        <img class="hero-icon hide-on-tablet hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/sim-card-chip.png">
        <img class="hero-icon hide-on-tablet hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/cellular-network.png">
    </p>
</div>
{% endblock %}

{% block mobile-home-nav %}
<li class="nav-item active">
    <a class="nav-link nav-text" href="{% url 'static_website:index' %}"><i class="fas fa-home"></i> Home</a>
</li>
{% endblock %}

{% block hero-image-type %}
<div class = "hero-image">
{% endblock %}

{% block body %}
<main>
  <div class = "container content-top" id="about_us">
    <p class = "heading-text text-center padding-top">
      Your New Authorized T-Mobile Dealer <img class="attribute-icon hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/cell-phone.png">
    </p>
    <hr class="padding-bottom"/>
    <div class="row padding-bottom padding-top">
        <div class="col-lg-6">
            <p class="attribute-heading-text">
                Competitive Pricing <img class="attribute-icon hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/money.png">
            </p>
            <p class="reading-font">
                Broke your phone? Don't worry about it, at All Wireless, we charge modestly for all screen repairs, battery
                replacements and most common phone issues.
            </p>
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
            <p class="attribute-heading-text">
                Lightning-Fast Service <img class="attribute-icon hide-on-mobile" src="https://img.icons8.com/dusk/64/000000/lightning-bolt.png">
            </p>
            <p class="reading-font">
                Broke your phone? Don't worry about it, at All Wireless, we charge modestly for all screen repairs, battery
                replacements and most common phone issues.
            </p>
        </div>
    </div>
  	<div class="row padding-bottom">
      <div class="col-lg-12 align-self-center">
        <p class = "heading-text text-center padding-bottom padding-top">
            A Head Start in the Game <img class ="attribute-icon hide-on-mobile" src="https://img.icons8.com/cotton/64/000000/mission-of-a-company.png">
        </p>
        <p class = "reading-font">
            Since the late 90s, we've striven to deliver the best possible experience to customers with afflicted devices. We started off 
            fixing pagers back in the 90s, and now we offer repair services to virtually all mainstream smartphones.
        </p>
        <br>
        <p class = "reading-font">
            Additionally, we are an authorized T-Mobile dealer. Whether it be renewing your current phone plan, or starting a new one,
            we've got you covered!
        </p>
      </div>
    </div>
  </div>
  <div class="black-background padding-top">
  	<div class="container">
  		<p class = "heading-text text-center padding-bottom">Our Process</p>
	    <div class="row padding-bottom">
	      <div class="col-lg-4">
	        <div class="attribute-heading-text padding-bottom">Simple and Elegant</div>
	        <div class = "attribute-body-text text-left">
                We don't waste your time with any of the details. All you need to do is walk in, ask for a repair, and we'll
                give you a quote and estimated time of completion
	        </div>
        </div>
        <div class="col-lg-4 pt-4 pt-lg-0">
          <div class="attribute-heading-text padding-bottom">Honesty and Integrity</div>
	        <div class = "attribute-body-text text-left">
                We hear out any request you may have. If we can't handle that request, we will redirect you to another 
                business that will take care of you.
	        </div>
        </div>
        <div class="col-lg-4 pt-4 pt-lg-0">
          <div class="attribute-heading-text padding-bottom">Quick Service</div>
	        <div class = "attribute-body-text text-left">
            Our customers are tended to as soon as they enter our doors. No customer's request is left unanswered. 
	        </div>
        </div>
	    </div>
    </div>
  </div>
  <div class="container padding-bottom" id="location">
    <p class = "heading-text padding-top padding-bottom text-center">
      Where Can You Find Us? <img class="hide-on-mobile" src="https://img.icons8.com/dusk/50/000000/worldwide-location.png">
    </p>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center reading-font">
          14631 W Warren Ave, Dearborn, MI
          <div id="map">
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="black-background padding-top" id="contact_us">
    <div class="container">
      <p class = "heading-text padding-top padding-bottom text-center">
        Need to Get in Contact? <img class="hide-on-mobile" src="https://img.icons8.com/cotton/64/000000/business-contact--v1.png">
      </p>
      <div class="row padding-bottom">
        <div class = "col-lg-4">
          <div class="card border-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-secondary">All Wireless, Inc</div>
            <div class="card-body text-secondary">
              <p class="card-text">Phone Number: (313) 945-0303</p>
              <p class="card-text">Email: allwirelessinc@att.net</p>
            </div>
          </div>
        </div>
        <div class = "col-lg-7">
          <p class="reading-font">
            Got any questions, or need a repair? You can call during our business hours!
          </p>
          <p class="reading-font">
            Sunday: 10AM - 6PM
          </p>
          <p class="reading-font">
            Monday - Saturday: 9AM - 8PM
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="heading-text text-center padding-bottom padding-top">
      Send Us an Email!
    </p>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                {{ form.first_name | as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.last_name | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form.email | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form.inquiry | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
            </div>
        </div>
        <input type="hidden" name="location" value="14631 Warren Ave, Dearborn, MI">    
    </form>
  </div>
</main>

<script>
  function initMap() {
    var myCenter = new google.maps.LatLng(42.344120,-83.171990)
    var mapProp= {
      center: myCenter,
      zoom:12,
    };
    var map=new google.maps.Map(document.getElementById("map"),mapProp);
    var marker = new google.maps.Marker({position: myCenter })
    marker.setMap(map);
  }
</script>


<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1MJmF25c-1Ms8M3M5s0_FmAEWF0pco_8&callback=initMap">
</script>

{% endblock %}