{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% endblock %}

{% block hero-image-text %}
<div class="container-fluid hero-text">
    <p class="hero-heading-font font-white text-center padding-bottom padding-top">
        All Wireless, Inc
    </p>
    <p class="hero-subheading-font text-center font-white">
      Smartphone Repairs, Authorized Dealer
    </p>
</div>
{% endblock %}

{% block mobile-home-nav %}
<li class="nav-item active">
    <a class="nav-link nav-text" href="{% url 'static_website:index' %}"><i class="fas fa-home"></i> Home</a>
</li>
{% endblock %}

{% block hero-image-type %}
<div class = "hero-sub-image">
{% endblock %}

{% block body %}
<main>
  <div class = "container content-top" id="about_us">
    <p class = "heading-text text-center padding-top">
      Your New Authorized T-Mobile Dealer 
    </p>
    <hr class="padding-bottom"/>
    <div class="row padding-bottom padding-top">
        <div class="col-lg-6">
            <p class="heading-text padding-bottom">
                Competitive Pricing 
            </p>
            <p class="reading-font">
                Broke your phone? Don't worry about it, at All Wireless, we charge modestly for all screen repairs, battery
                replacements and most common phone issues.
            </p>
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
            <p class="heading-text padding-bottom">
                Lightning-Fast Service 
            </p>
            <p class="reading-font">
                Broke your phone? Don't worry about it, at All Wireless, we charge modestly for all screen repairs, battery
                replacements and most common phone issues.
            </p>
        </div>
    </div>
  	<div class="row padding-bottom">
      <div class="col-lg-12 align-self-center">
        <p class = "heading-text text-center padding-bottom padding-top">
            A Head Start in the Game
        </p>
        <p class = "reading-font">
            Since the late 90s, we've striven to deliver the best possible experience to customers with afflicted devices. We started off 
            fixing pagers back in the 90s, and now we offer repair services to virtually all mainstream smartphones.
        </p>
        <br>
        <p class = "reading-font">
            Additionally, we are an authorized T-Mobile dealer. Whether it be renewing your current phone plan, or starting a new one,
            we've got you covered!
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image padding-top">
  	<div class="container">
  		<p class = "heading-text text-center padding-bottom">Our Process</p>
	    <div class="row padding-bottom">
	      <div class="col-lg-4">
	        <div class="attribute-heading-text padding-bottom">Simple and Elegant</div>
	        <div class = "attribute-body-text text-left">
                We don't waste your time with any of the details. All you need to do is walk in, ask for a repair, and we'll
                give you a quote and estimated time of completion
	        </div>
        </div>
        <div class="col-lg-4 pt-4 pt-lg-0">
          <div class="attribute-heading-text padding-bottom">Honesty and Integrity</div>
	        <div class = "attribute-body-text text-left">
                We hear out any request you may have. If we can't handle that request, we will redirect you to another 
                business that will take care of you.
	        </div>
        </div>
        <div class="col-lg-4 pt-4 pt-lg-0">
          <div class="attribute-heading-text padding-bottom">Quick Service</div>
	        <div class = "attribute-body-text text-left">
            Our customers are tended to as soon as they enter our doors. No customer's request is left unanswered. 
	        </div>
        </div>
	    </div>
    </div>
  </div>
</main>
{% endblock %}